.signup-page .card {
  max-width: 650px;
}

/* GRID */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 25px;
}

/* login text */
.login {
  text-align: center;
  margin-top: 15px;
}

.login span {
  color: #b31217;
}

/* badges */
.badges {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.badges div {
  background: #f0dddd;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 12px;
}